body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333; /* Кольоровий код або назва кольору */
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white; /* Кольоровий код або назва кольору */
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

nav a:hover {
    background-color: #555; /* Кольоровий код або назва кольору для виділення при наведенні */
}

nav a.account {
    margin-left: auto;
}

.table-wrapper {
    margin: 20px; /* відступи від усіх сторін */
}

th, td {
    text-align: center;
}